@model IEnumerable<AllCourseInfo>
<h2>All Courses available</h2>
<div class="container">
    <div class="row">
        @if (Model == null)
        {
            <h3>Nobody likes you</h3>
        }
        else
        {
            foreach (var item in Model)
            {
                Html.RenderPartial("_AllCourseThumbnail", item);
            }
        }

    </div>
</div>


