
<h2>AssignProject</h2>



@Ajax.ActionLink("Single Person Course", "SinglePersonCourseAssign",
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "generateUserArea"
       })



@Ajax.ActionLink("Bulk Course", "BulkCourseAssign",
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "generateUserArea"
       })

<div id="generateUserArea">

</div>

@Scripts.Render("~/bundles/jqueryajax")