
<h2>AssignProject</h2>



@Ajax.ActionLink("Single Person Course", "SinglePersonCourseAsign",
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "generateUserArea"
       });



@Ajax.ActionLink("Bulk Course", "BulkCourse",
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "generateUserArea"
       });

<div id="generateUserArea">

</div>

@Scripts.Render("~/bundles/jqueryajax")