
<h2>Assign Project</h2>



<a href="@Url.Action("SinglePersonCourseAssign", "Admin")"><p>Single person course assign</p></a>

<a href="@Url.Action("BulkCourseAssign", "Admin")"><p>Bulk course assign</p></a>


@Scripts.Render("~/bundles/jqueryajax")
 @Scripts.Render("~/bundles/jqueryval")


