<h2>Deassign Course</h2>



<a href="@Url.Action("SinglePersonCourseDeassign", "Admin")"><p>Single person course deassign</p></a>

<a href="@Url.Action("BulkCourseDeassign", "Admin")"><p>Bulk course deassign</p></a>


<div id="generateUserArea">

</div>

@Scripts.Render("~/bundles/jqueryajax")