<h2>Deassign Project</h2>



@Ajax.ActionLink("Single Person Course", "SinglePersonCourseDeassign",
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "generateUserArea"
       });



@Ajax.ActionLink("Bulk Course", "BulkCourseAssign",
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "generateUserArea"
       });

<div id="generateUserArea">

</div>

@Scripts.Render("~/bundles/jqueryajax")