
<h2>Upload Course</h2>
@using (@Html.BeginForm("UploadCourse", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <label for="file">Upload json:</label> 
    <input type="file" name="file" id="file" />
    <input type="submit" value ="Upload a course" class="btn btn-primary btn-lg" />

}
@if (ViewBag.Error != null)
{
    <h4 class="col-form-label text-danger">@ViewBag.Error</h4>
}
@if (ViewBag.Success != null)
{
    <h4 class="col-form-label text-success">@ViewBag.Success</h4>
}
@*<button type="button" class="btn btn-primary btn-lg">Upload a project</button>*@

