

@model IEnumerable<UserViewModelNameOnly>


<h2>Search user</h2>




<div class="ui-widget">
    <label for="UserSearchName"> Input Username: </label>
    <input id="UserSearchName" placeholder="It will autocomplete it">
</div>


<div id="hiddenSearch">
    @Ajax.ActionLink("This Is Invis", "LoadUser",
       new { username = "ThisPartIsReplacedLater" },
       new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "generateUserArea"
       });
</div>

<div id="generateUserArea">

</div>


@Scripts.Render("~/bundles/jqueryajax")
<script>

    LearnItAutocompleteAndSearch("#UserSearchName", "Username",@Html.Raw(Json.Encode(Model)), "#hiddenSearch a");
    //there is also only a LearnItAutocomplete which uses only the first 3 variables and gives out suggestions in a 
    //input field based on which field u want to use
</script>
