@model AllCourseInfo

<div>
    <div class="ui-widget">
        @Model.Name
    </div>
    <div class="ui-widget">
        @Model.DateAdded.ToString()
    </div>
    <div class="ui-widget">
        @Model.Description
    </div>
    <div class="ui-widget">
        @Model.ScoreToPass.ToString()
    </div>
</div>
