@{
    ViewBag.Title = "About";
}
<div id="logo-container">
    <img id="logo" src="../../Content/images/Logo.png" style="">
</div>
<h2>Wellcome to LearnIt!</h2>
<div class="side" id="image-container" style="float:left">
    <img class="center-pic" src="../../Content/images/idiots.jpg" margin-right:5px>
</div>
<div class="side">
    <h2>About us</h2>
    <font size="3">
        Cras sodales mauris neque, vitae dictum arcu molestie quis. Morbi facilisis dapibus arcu
        , sit amet sollicitudin massa hendrerit a. Sed aliquet, lacus nec consectetur fermentum, 
        tellus libero volutpat nibh, non dictum odio ipsum nec ante. Etiam accumsan leo vel libero ullamcorper,
        et laoreet nibh auctor. Cras vitae felis non tortor elementum rutrum id id turpis. Aenean ac elementum neque.
        Ut placerat tincidunt lacinia. Vestibulum massa velit, lacinia ut maximus vel, consectetur vel mi. Duis faucibus, 
        neque eleifend eleifend venenatis, lorem nibh scelerisque enim, non ullamcorper ante ante id justo. Pellentesque auctor lectus lacus, 
        at egestas sem varius dapibus. Nam ullamcorper condimentum dui in hendrerit. Pellentesque id odio blandit, lobortis orci a, viverra nibh. 
        Aliquam enim ex, posuere eu consequat imperdiet, vehicula at nisi.
    </font>
</div>