@{
    ViewBag.Title = "About";
}
<div id="logo-container">
    <img id="logo" src="../../Content/images/Logo.png" style="">
</div>
<h2>Wellcome to LearnIt!</h2>
<div class="side" id="image-container" style="float:left">
    <img class="center-pic" src="../../Content/images/idiots.jpg" margin-right:5px>
</div>
<div class="side">
    <h2>About us</h2>
    <font size="3">
        Ние сме дълго годишна компания с утвърден опит в зидаро мазачеството, хамалството, олигофренията и голямата тъпотия.
        Притежаваме уникални умения в мързелуването, правенето на нищо,спягане на глагола "Мотам се", спането, шляенето(и шляпането от време на време).
        Най-уникалното за нас и нашата компания е неповторимото и неоткриваемо, единствено в света качество по даване, раздаване, предлагане, споделяне на акъл!
    </font>
</div>