@{
    ViewBag.Title = "About";
}
<div id="logo-container">
    <img id="logo" src="../../Content/images/Logo.png" style="">
</div>
<h3>Wellcome to out learning site</h3>
@*<div id="image-container">
    <img id="Oligofreni" src="../../Content/images/idiots.jpg" style="">
    <p>About us </p>
    Ние сме дълго годишна компания с утвърден опит в зидаро мазачеството, хамалството, олигофренията и голямата тъпотия. 
    Притежаваме уникални умения в мързелуването, правенето на нищо,спягане на глагола "Мотам се", спането, шляенето(и шляпането от време на време).
    Най-уникалното за нас и нашата компания е неповторимото и неоткриваемо, единствено в света качество по даване, раздаване, предлагане, споделяне на акъл!
</div>*@
<div class="side" id="image-container" style="float:left">
    <img id="Oligofreni" src="../../Content/images/idiots.jpg" margin-right:5px >
    @*<iframe></iframe>*@
</div>
<div class="side">
    <p><font size="6">About us </font></p>
    <font size="3">
        Ние сме дълго годишна компания с утвърден опит в зидаро мазачеството, хамалството, олигофренията и голямата тъпотия.
        Притежаваме уникални умения в мързелуването, правенето на нищо,спягане на глагола "Мотам се", спането, шляенето(и шляпането от време на време).
     Най-уникалното за нас и нашата компания е неповторимото и неоткриваемо, единствено в света качество по даване, раздаване, предлагане, споделяне на акъл!
    </font>
</div>