@model IEnumerable<LearnIt.Models.CourseViewModels>
    @{
        ViewBag.Title = "Home Page";
    }

@foreach (var item in Model)
{
    <div>@item.Name <br>
         @item.Description<br>
         @item.DateAdded</div>


}

<h2>Some other info should be here</h2>
