@model IEnumerable<LearnIt.Models.CourseViewModels>
@{
    ViewBag.Title = "LastCourses";
}
@foreach (var item in Model)
{
    <div>item.Name
         item.Description
         item.DateAdded</div>


}
<h2>LastCourses</h2>

